.basic {
    fill: var(--text);
    width: 350px;
    padding: 0em 0em 0em 0em;
}

.box2 {
    fill: var(--text);
    width: 350px;
    padding: 1em 2em 1em 0em;
    text-align: left;
    overflow: visible;
    
}

@media (max-width: 768px) {
    .basic {
        fill: var(--text);        
        padding: 0em 0em 0em 0em;
        max-width: 180px; /* 最大幅を指定 */
        max-height: 90px; /* 最大高さを指定 */
    }
    .box2 {
        fill: var(--text);
        padding: 1em 2em 1em 0em;        
        max-width: 180px; /* 最大幅を指定 */
        max-height: 90px; /* 最大高さを指定 */
        overflow: visible;
    }
}



/*
.basic {
    font-size: var(--heading2);
    font-weight: 700;
    letter-spacing: 0.15em;
}
.box {
    composes: basic;
    display: inline-block;
    padding: 1em 2em;
    color: var(--white);
    font-size: var(--small-heading2);
}
*/