.stack > * + * {
    margin-top: var(--stack-space, 1.5rem);
}


.stack h2 {
    --stack-space:3em;
    border-bottom: 1px solid var(--white);
}
.stack h3 {
    --stack-space:2em;
}

.stack h2 + *,
.stack h3 + * {
    --stack-space:0.8em;
}

.stack span {
    line-height: 1.8;
    color: var(--accent);
    border-bottom: 1px solid var(--white);
    
}
.stack p{
    line-height: 1.8;
}

.stack ul {
    padding: revert;
    list-style: revert;
}


/* ホバー */
@media (hover: hover) {
    .stack span:hover {
      color: var(--orange);
    }
  }